.app-sidebar__overlay(data-toggle="sidebar")
aside.app-sidebar

	.app-sidebar__user
		img.app-sidebar__user-avatar(src='img/profile.png', alt='User Image')
		div
			p.app-sidebar__user-name علی محمدی
			p.app-sidebar__user-designation طراح ظاهر

	ul.app-menu
		li
			a.treeview-item.btn.btn-info.m-2(href='https://github.com/PurTahan/vali-admin/archive/master.zip', target="_blank")
						i.icon.fa.fa-download
						|  دانلود رایگان قالب

		li
			a.app-menu__item(href='index.html' class={'active': activePage == 'dashboard'})
				i.app-menu__icon.fa.fa-dashboard
				span.app-menu__label داشبورد

		li.treeview(class={'is-expanded': activeGroup == 'ui-elements'})
			a.app-menu__item(href='#', data-toggle='treeview')
				i.app-menu__icon.fa.fa-laptop
				span.app-menu__label المان‌های دیداری
				i.treeview-indicator.fa.fa-angle-left
			ul.treeview-menu
				li
					a.treeview-item(href='bootstrap-components.html' class={'active': activePage == 'ui-bootstrap'})
						i.icon.fa.fa-circle-o
						|  المان‌های بوت‌استرپ
				li
					a.treeview-item(href='https://fontawesome.com/v4.7.0/icons/', target="_blank", rel="noopener")
						i.icon.fa.fa-circle-o
						|  قلم آیکون
				li
					a.treeview-item(href='ui-cards.html' class={'active': activePage == 'ui-cards'})
						i.icon.fa.fa-circle-o
						|  کارت‌ها
				li
					a.treeview-item(href='widgets.html' class={'active': activePage == 'ui-widgets'})
						i.icon.fa.fa-circle-o
						|  ویجت‌ها

		li
			a.app-menu__item(href='charts.html' class={'active': activePage == 'charts'})
				i.app-menu__icon.fa.fa-pie-chart
				span.app-menu__label نمودار‌ها

		li.treeview(class={'is-expanded': activeGroup == 'forms'})
			a.app-menu__item(href='#' data-toggle='treeview')
				i.app-menu__icon.fa.fa-edit
				span.app-menu__label فرم‌ها
				i.treeview-indicator.fa.fa-angle-left
			ul.treeview-menu
				li
					a.treeview-item(href='form-components.html' class={'active': activePage == 'form-components'})
						i.icon.fa.fa-circle-o
						|  اجزای فرم
				li
					a.treeview-item(href='form-custom.html' class={'active': activePage == 'form-custom'})
						i.icon.fa.fa-circle-o
						|  اجزای سفارشی
				li
					a.treeview-item(href='form-samples.html' class={'active': activePage == 'form-samples'})
						i.icon.fa.fa-circle-o
						|  نمونه فرم‌ها
				li
					a.treeview-item(href='form-notifications.html' class={'active': activePage == 'form-notifications'})
						i.icon.fa.fa-circle-o
						|  رویداد‌های فرم

		li.treeview(class={'is-expanded': activeGroup == 'tables'})
			a.app-menu__item(href='#' data-toggle='treeview')
				i.app-menu__icon.fa.fa-th-list
				span.app-menu__label جدول‌ها
				i.treeview-indicator.fa.fa-angle-left
			ul.treeview-menu
				li
					a.treeview-item(href='table-basic.html' class={'active': activePage == 'basic-table'})
						i.icon.fa.fa-circle-o
						|  جدول‌های ابتدایی
				li
					a.treeview-item(href='table-data-table.html' class={'active': activePage == 'data-table'})
						i.icon.fa.fa-circle-o
						|  جدول‌های داده

		li.treeview(class={'is-expanded': activeGroup == 'pages'})
			a.app-menu__item(href='#' data-toggle='treeview')
				i.app-menu__icon.fa.fa-file-text
				span.app-menu__label صفحه‌ها
				i.treeview-indicator.fa.fa-angle-left
			ul.treeview-menu
				li
					a.treeview-item(href='blank-page.html' class={'active': activePage == 'blank-page'})
						i.icon.fa.fa-circle-o
						|  صفحه خام
				li
					a.treeview-item(href='page-login.html')
						i.icon.fa.fa-circle-o
						|  صفحه ورود
				li
					a.treeview-item(href='page-lockscreen.html')
						i.icon.fa.fa-circle-o
						|  صفحه قفل
				li
					a.treeview-item(href='page-user.html' class={'active': activePage == 'user-page'})
						i.icon.fa.fa-circle-o
						|  صفحه کاربر
				li
					a.treeview-item(href='page-invoice.html' class={'active': activePage == 'invoice-page'})
						i.icon.fa.fa-circle-o
						|  صفحه صورت‌حساب
				li
					a.treeview-item(href='page-calendar.html' class={'active': activePage == 'calendar-page'})
						i.icon.fa.fa-circle-o
						|  صفحه تقویم
				li
					a.treeview-item(href='page-mailbox.html' class={'active': activePage == 'mailbox-page'})
						i.icon.fa.fa-circle-o
						|  ایمیل
				li
					a.treeview-item(href='page-error.html' class={'active': activePage == 'error-page'})
						i.icon.fa.fa-circle-o
						|  صفحه خطا
