// @import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700);
// @import url(https://fonts.googleapis.com/css?family=Niconne);

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-FD-WOL.eot');
    src: url('../fonts/Vazir-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-FD-WOL.woff') format('woff'),
    url('../fonts/Vazir-FD-WOL.ttf') format('truetype');
    font-weight: normal;
  }
  @font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold-FD-WOL.eot');
    src: url('../fonts/Vazir-Bold-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Bold-FD-WOL.woff') format('woff'),
    url('../fonts/Vazir-Bold-FD-WOL.ttf') format('truetype');
    font-weight: bold;
  }
